---
# Modified by F4EGM 02/03/2026
# WSJT-X FT8 Automation
# /!\ The content of this file is case sensitive
#
---
ft8ctrl:
  my_call: "TON_INDICATIF"
  my_grid: "TON_LOCATOR"
  db_name: ~/ft8ctl.sql
  wsjt_ip: 127.0.0.1
  wsjt_port: 2238

  follow_frequency: True
  tx_power: 30
  tx_retries: 3
  retry_time: 15

  # Priorité absolue:
  # 1) Tail-enders (le code préempte déjà tout)
  # 2) DX transcontinent
  # 3) EU hors voisins proches
  # 4) fallback
  call_selector:
    - Extra
    - Continent
    - Country
    - Any

Extra:
  list: ["TAIL"]
  reverse: False
  lotw_users_only: False
  min_snr: -22
  max_snr: 10
  delta: 30

Continent:
  my_continent: "EU"
  list: ["NA", "SA", "AS", "OC", "AF"]
  lotw_users_only: True
  min_snr: -18
  max_snr: 5
  delta: 24

Country:
  reverse: True
  list:
    - "France"
    - "Belgium"
    - "Netherlands"
    - "Germany"
    - "Switzerland"
    - "United Kingdom"
    - "Italy"
    - "Spain"
    - "Luxembourg"
  lotw_users_only: True
  min_snr: -18
  max_snr: 5
  delta: 24

Any:
  lotw_users_only: True
  min_snr: -15
  max_snr: 8
  delta: 20
